<h1>Core Web Vitals Privacy Policy</h1>
<p>Core Web Vitals "the App” provides embedded report to audit compliance with Core Web Vitals metrics and threshold recommendations "the Service" to merchants who use Shopify to power their stores. This Privacy Policy describes how personal information is collected, used, and shared when you install or use the App in connection with your Shopify-supported store.</p>

<h3>Personal Information the App Collects</h3>
<p>When you install the App, we are automatically able to access certain types of information from your Shopify account: list of products and articles. Additionaly, we collect the a list of benchmark sites provided by the storefront administrator to enable a benchmarking report. No other personal information is collected by the Service.</p>

<h3>How Do We Use Your Personal Information?</h3>
<p>We use provided list of benchmark sites to generated an embedded competitor report in Shopify admin. The report is powered by public Chrome UX Report API provided by Google, which is used to retrieve data.</p>

<h3>Sharing Your Personal Information</h3>
<p>We do not share your data with any other parties, other than using provided list of benchmark sites to query Chrome UX Report API. We may share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>

<h3>Changes</h3>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>

<h3>Contact Us</h3>
<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at ilya+shopify@grigorik.com.</p>