/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.app-content {
  margin: 1em;
  p {
    margin: 1em;
  }
  h1 {
    font-weight: bolder;
    font-size: larger;
  }
  h3 {
    font-weight: bold;
    font-size: medium;
  }
}

.threshold {
  color: green;
  font-weight: bolder;
}

.stacked_graph {
  display: flex;
  color: #414042;

  span.p75 {
    position: relative;
    right: calc(-75% + 1rem);
    z-index: 3;
    border-left-style: dashed;
    border-color: #1d235f52;
    border-width: thin;
  }

  span.density {
    display: block;
  }

  div {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 0;
    color: #000;
  }

  .bar_good {
    background: #0cce6b;
  }

  .bar_ni {
    background: #ffa400;
  }

  .bar_poor {
    background: #ff4e42;
  }
}

.Polaris-Badge {
  font-size: 1.1rem;
}

.Polaris-Layout__AnnotationContent {
  font-size: 1.2rem;

  .Polaris-Subheading {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  span.p75::after {
    content: "P75";
    font-size: 0.5rem;
    position: absolute;
    top: 3.75rem;
    right: -0.75rem;
    opacity: 0.75;
  }
}

.Polaris-Card__Section--subdued {
  .Polaris-Subheading {
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  span.p75::after {
    content: "P75";
    font-size: 0.5rem;
    position: absolute;
    top: 2.2rem;
    right: -0.75rem;
    opacity: 0.75;
  }

  .stacked_graph {
    div {
      opacity: 0.75;
      padding: 2px 0;
      font-size: 85%;
    }

    .bar_good {
      background: #bbe5b3;
    }

    .bar_ni {
      background: #ffa400;
    }

    .bar_poor {
      background: #ff4e42;
    }
  }
}
