/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.stacked_graph {
    display: flex;
    color: #414042;

    div {
        display: inline-block;
        box-sizing: border-box;
        padding: 10px;
        color: #000;
    }

    .bar_good {
        background: #0CCE6B
    }

    .bar_ni {
        background: #FFA400;
    }

    .bar_poor {
        background: #FF4E42;
    }
}

.Polaris-Card__Section--subdued {
    .Polaris-Subheading {
        font-size: 1rem;
        padding-top: 0.5rem;
    }

    .Polaris-Badge {
        font-size: 1.1rem;
    }

    .stacked_graph {
        div {
            opacity: 0.75;
            padding: 2px 10px;
            font-size: 85%;
        }

        .bar_good {
            background: #BBE5B3;
        }

        .bar_ni {
            background: #FFC58B;
        }

        .bar_poor {
            background: #FEAD9A;
        }
    }
}